

trigger:
  branches:
    include:
      - main
      - master

pool:
  vmImage: 'ubuntu-latest'

variables:
  # nome do app exigido pelo checkpoint (myassist + RM)
  appName: 'myassist554611'

  # nome do ACR no Azure
  acrName: 'acrlorch'

  # endereço do ACR
  acrLoginServer: 'acrlorch.azurecr.io'

  # repositório da imagem dentro do ACR
  imageRepository: 'fiap/$(appName)'

  # tag da imagem = número do build
  imageTag: '$(Build.BuildId)'

  # conexão DOCKER (tipo Docker Registry)
  dockerRegistryServiceConnection: 'sc-acr-lorch'

  # caminho do Dockerfile (está na raiz)
  dockerfilePath: 'Dockerfile'

steps:
  # 1️ Faz checkout do código
  - checkout: self

  # 2️ Constrói e publica imagem Docker no ACR
  - task: Docker@2
    displayName: 'Build and Push image to ACR'
    inputs:
      command: 'buildAndPush'
      containerRegistry: '$(dockerRegistryServiceConnection)'
      repository: '$(imageRepository)'
      dockerfile: '$(dockerfilePath)'
      buildContext: '$(Build.SourcesDirectory)'
      tags: |
        $(imageTag)

  # 3️ Mostra no log onde a imagem foi publicada
  - script: |
      echo "==========================================="
      echo " IMAGEM PUBLICADA COM SUCESSO "
      echo "-------------------------------------------"
      echo " $(acrLoginServer)/$(imageRepository):$(imageTag)"
      echo "==========================================="
    displayName: 'Exibir detalhes da publicação'
