trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  # nome da aplicação exigido
  appName: 'myassist554611'

  # nome do ACR que você criou
  acrName: 'acrmyassist554611'

  # login server do ACR
  acrLoginServer: 'acrmyassist554611.azurecr.io'

  # repositório da imagem dentro do ACR
  imageRepository: 'fiap/$(appName)'

  # tag da imagem será o número do build
  imageTag: '$(Build.BuildId)'

  # service connection que você criou
  dockerRegistryServiceConnection: 'sc-azure-lorch'

  # caminho do Dockerfile (troca se não estiver na raiz)
  dockerfilePath: '**/Dockerfile'

steps:
  - checkout: self

  - task: Docker@2
    displayName: 'Build and push image to ACR'
    inputs:
      command: 'buildAndPush'
      containerRegistry: '$(dockerRegistryServiceConnection)'
      repository: '$(imageRepository)'
      dockerfile: '$(dockerfilePath)'
      tags: |
        $(imageTag)
      buildContext: '$(Build.SourcesDirectory)'

  - script: |
      echo "Imagem publicada em:"
      echo "$(acrLoginServer)/$(imageRepository):$(imageTag)"
    displayName: 'Mostrar imagem publicada'
