# CI do Checkpoint 6 (MyAssist)
# Builda a imagem Docker e publica no ACR

trigger:
  branches:
    include:
      - main
      - master

pool:
  vmImage: 'ubuntu-latest'

variables:
  # nome do app exigido no checkpoint
  appName: 'myassist554611'

  # nome do ACR criado no Azure
  acrName: 'acrlorch'

  # endereço do ACR
  acrLoginServer: 'acrlorch.azurecr.io'

  # repositório da imagem dentro do ACR
  imageRepository: 'fiap/$(appName)'

  # tag da imagem = id do build
  imageTag: '$(Build.BuildId)'

  # conexão DOCKER (não é ARM)
  dockerRegistryServiceConnection: 'sc-acr-lorch'

  # caminho do Dockerfile
  # se o Dockerfile não estiver na raiz, troca essa linha
  dockerfilePath: '**/Dockerfile'

steps:
  - checkout: self

  - task: Docker@2
    displayName: 'Build and push image to ACR'
    inputs:
      command: 'buildAndPush'
      containerRegistry: '$(dockerRegistryServiceConnection)'
      repository: '$(imageRepository)'
      dockerfile: '$(dockerfilePath)'
      tags: |
        $(imageTag)
      buildContext: '$(Build.SourcesDirectory)'

  - script: |
      echo "Imagem publicada em:"
      echo "$(acrLoginServer)/$(imageRepository):$(imageTag)"
    displayName: 'Mostrar imagem publicada'
