<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: template(~{::title}, ~{::main}, '/motos/form')}">
<head>
    <meta charset="UTF-8">
    <title th:text="${#strings.contains(action,'/motos/') ? 'Editar moto • LorArch' : 'Nova moto • LorArch'}">
        Nova moto • LorArch
    </title>
</head>
<body>
<main class="container">
    <h1 th:text="${#strings.contains(action,'/motos/') ? 'Editar moto' : 'Nova moto'}">Nova moto</h1>

    <div th:if="${success}" class="alert success" th:text="${success}"></div>
    <div th:if="${error}" class="alert error" th:text="${error}"></div>

    <form th:object="${moto}" th:action="${action}" method="post" class="form card">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <div th:if="${#fields.hasErrors('*')}" class="alert error" style="margin-bottom:12px;">
            <ul>
                <li th:each="e : ${#fields.errors('*')}" th:text="${e}">Erro</li>
            </ul>
        </div>

        <div class="grid-2">
            <div class="field">
                <label for="placa">Placa</label>
                <input id="placa" type="text" th:field="*{placa}" placeholder="ABC1D23"/>
                <small class="error" th:if="${#fields.hasErrors('placa')}" th:errors="*{placa}"></small>
            </div>

            <div class="field">
                <label for="modelo">Modelo</label>
                <input id="modelo" type="text" th:field="*{modelo}" placeholder="Honda Biz 125"/>
                <small class="error" th:if="${#fields.hasErrors('modelo')}" th:errors="*{modelo}"></small>
            </div>

            <div class="field">
                <label for="status">Status</label>
                <select id="status" th:field="*{status}">
                    <option value="" hidden>Selecione…</option>
                    <option th:each="s : ${statuses}" th:value="${s}" th:text="${s}">DISPONIVEL</option>
                </select>
                <small class="error" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></small>
            </div>

            <div class="field">
                <label for="setor">Setor</label>
                <input id="setor" type="text" th:field="*{setor}" placeholder="Galpão A"/>
                <small class="error" th:if="${#fields.hasErrors('setor')}" th:errors="*{setor}"></small>
            </div>
        </div>

        <div class="actions mt-16">
            <button class="btn" type="submit"
                    th:text="${#strings.contains(action,'/motos/') ? 'Atualizar' : 'Salvar'}">Salvar</button>
            <a class="btn ghost" th:href="@{/motos}">Cancelar</a>
        </div>
    </form>
</main>
</body>
</html>
