<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <meta charset="UTF-8">
    <title>LorArch</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

<div th:replace="fragments/navbar :: navbar(${currentPath})"></div>

<main class="container mx-auto mt-8 p-4">
    <h1 class="text-3xl font-bold mb-4">Bem-vindo ao Sistema LorArch</h1>
    <p class="mb-4">Use a navegação acima para acessar as áreas de Motos e Ocorrências.</p>
</main>
</body>
</html>
